<div class="navbar-fixed">
    <nav class="nav">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Moonshot Digital Studio</a>
            <a href="#" data-target="mobile-nav" class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a href="/about">About Us</a>
                </li>
                <li>
                    <a href="/portfolio">Our Work</a>
                </li>
                <li>
                    <a href="/blog">Blog</a>
                </li>
                <li>
                    <a href="/contacts">Contacts</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div id="mobile-nav" class="sidenav">
    <div class="sidenav-wrapper">

        <div class="sidenav-header">
            <a class="sidenav-close">
                <i class="material-icons small">cancel</i>
            </a>
        </div>

        <div class="sidenav-logo">
            <img src="{{ site.baseurl }}/assets/img/logo.png" alt="Moonshot Digital Studio's logo">
        </div>

        <ul class="sidenav-items">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/portfolio">Work</a>
            </li>
            <li>
                <a href="/blog">Blog</a>
            </li>
            <li>
                <a href="/contacts">Contacts</a>
            </li>
        </ul>

        <div class="sidenav-social">
            <a href="/" title="twitter">
                <i class="fab fa-twitter fa-2x"></i>
            </a>
            <a href="/" title="github">
                <i class="fab fa-github fa-2x"></i>
            </a>
            <a href="/" title="instagram">
                <i class="fab fa-instagram fa-2x"></i>
            </a>
            <a href="/" title="skype">
                <i class="fab fa-skype fa-2x"></i>
            </a>
            <a href="/" title="linkedin">
                <i class="fab fa-linkedin fa-2x"></i>
            </a>
        </div>

    </div>
</div>